{% extends "layout.auth.twig.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<table class="table table-striped">
    <tr>
        <th>දින</th>
        <th>Link</th>
        <th>Ops</th>
	<th>Status</th>
    </tr>

    {% for link in links %}
    <tr>
        <td>{{link.completed_datetime}}</td>
        <td><a href="{{link.url}}" target="_blank">{{link.url}}</a></td>
        <td>
            <a href="/read/{{link.id}}">Read</a>
            &nbsp;&nbsp;
            <a href="/edit/{{link.id}}">Edit</a>
        </td>
	<td>
		{% if link.article_status_id == 1 %}
			Published
		{% else %}
			Pending	
		{% endif %}
	</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}
